body {
	margin: 0;
}

.gt_container {
	position: relative;
}

/* Prevent overflow due to canvas acting as inline */
.gt_canvas {
	display: block;
}

.gt_output {
	position: absolute;
	top: 5px;
	right: 5px;

	min-width: 50px;
	height: 50px;
	line-height: 50px;

	background: rgba(100, 100, 100, 0.25);

	border-radius: 5px;
	box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);

	color: white;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
}
