body {
	margin: 0;
}

.gt_container {
	position: relative;
	background: black;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor: crosshair;
}

/* Prevent overflow due to canvas acting as inline */
.gt_canvas {
	display: block;
}

.gt_output {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2; /* Position above overlays */

	margin: 10px;

	padding: 10px;
	min-width: 47px;

	background: rgba(100, 100, 100, 0.25);

	border-radius: 5px;
	box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);

	color: white;
	font-family: sans-serif;
}

.gt_heatmapType {
	opacity: 0.75; /* Fade out slightly so it doesn't detract from the visualization */
}

.gt_count {
	font-weight: bold;
	text-align: center;
	color: rgba(200, 200, 200, 0.5);
}

.gt_overlay {
	/* Fill the parent positioned-relative element */
	position: absolute;
	z-index: 1; /* Position below output */
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	background: rgba(0, 0, 0, 0.5);
}

/* Keyframes per https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes */
@-webkit-keyframes gt_fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes gt_fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes gt_rotate {
	0% {
		-webkit-transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

/*
@-webkit-keyframes gt_fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

Include value `forwards` in animation property to stop at last frame instead of returning to default
Via http://stackoverflow.com/questions/9991523/hide-div-after-css3-animation
*/

.gt_overlay {
	-webkit-animation: gt_fadeIn 0.25s;
	-webkit-animation-fill-mode: forwards;
}

.gt_overlay.hide {
	-webkit-animation: gt_fadeOut 0.25s;
	-webkit-animation-fill-mode: forwards;
}

.gt_loading {
	-webkit-animation: gt_rotate 2s linear infinite;
	padding-right: 20px;
}

.gt_loading:after {
	display: block;
	content: 'à¿‚';

	text-align: center;
	color: rgba(100, 100, 100, 0.75);
	font-size: 200px;
	font-family: Helvetica;
	line-height: 100px;

	text-shadow: 0 0 5px solid rgba(0,0,0,0.5);
}

.gt_loading,
.gt_paused {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100px;
	width: 100px;
	margin-top: -50px;
	margin-left: -50px;
}

.gt_paused:before,
.gt_paused:after {
	content: '';
	display: block;
	position: absolute;

	width: 30px;
	height: 100px;

	background: rgba(100, 100, 100, 0.75);

	box-shadow: 0 0 5px solid rgba(0,0,0,0.5);
}

.gt_paused:before {
	right: 0;
}

.gt_paused:after {
	left: 0;
}

.gt_output label {
	display: block;
}
.gt_output input {
	vertical-align: top;
}

.gt_top {
	bottom: auto;
	top: 0;
}

.gt_right {
	left: auto;
	right: 0;
}

.gt_bottom {
	top: auto;
	bottom: 0;
}

.gt_left {
	right: auto;
	left: 0;
}
