html {
	overflow: hidden
}
body {
	margin: 0;
}

.gt_container {
	position: relative;
	background: black;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor: crosshair;
}

/* Prevent overflow due to canvas acting as inline */
.gt_canvas {
	display: block;
}

#fps, #ms,
.gt_output,
.gt_heatmapType {
	z-index: 1; /* Position below overlays */
	position: absolute;
	top: 0;
	left: 0;

	margin: 10px;

	border-radius: 5px;
	background: rgba(100, 100, 100, 0.50);
}

.gt_heatmapType,
.gt_output {
	padding: 10px;
	min-width: 47px;

	text-align: center;
	font-family: Helvetica, sans-serif;
	color: rgba(200, 200, 200, 0.65);
	text-shadow: -1px -1px 0 rgba(0, 0, 0 ,0.25);
}

.gt_stats {
	position: absolute !important;
	height: 52px;
	width: 96px !important;
	opacity: 1 !important;
	opacity: 0.55 !important;
}

#fps, #ms {
	/*position: relative !important;*/
	padding: 0 !important;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5) !important;
}

#fpsText, #msText {
	position: absolute;
	z-index: 1;
	top: 2px;
	left: 4px;

	width: 1.125em !important;
	overflow: hidden;
	white-space: nowrap;

	font-family: monospace !important;
	font-size: 12px !important;
	font-weight: normal !important;
	color: rgba(255, 255, 255, 0.5) !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

#fpsGraph, #msGraph {
	border-radius: 3px;
	background-color: rgb(50, 120, 170) !important;
}

#fpsGraph > span, #msGraph > span {
	background-color: rgb(100, 100, 100) !important;
}

.gt_count {
	font-weight: bold;
}

.gt_heatmapType {
	position: static;
	display: block;

	box-sizing: border-box;
	line-height: 25px;
	height: 38px;
	overflow: visible;

	margin: 10px;

	padding: 0px 10px;
	padding-right: 32px;

	border: none;

	font-size: 20px;

	cursor: pointer;
	-webkit-appearance: none;
}

.gt_forSelect {
	display: block;
}

.gt_forSelect:before {
	display: block;
	content: '⌵';
	position: absolute;
	top: 15px;
	right: 22px;

	color: rgb(120, 120, 120);
	font-size: 20px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0 ,0.25);

	pointer-events: none; /* Let mouse clicks pass through */
}

.gt_overlay {
	/* Fill the parent positioned-relative element */
	position: absolute;
	z-index: 2; /* Position above output */
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	background: rgba(0, 0, 0, 0.5);

	pointer-events: none; /* Let mouse clicks pass through */
}

/*
Include value `forwards` in animation property to stop at last frame instead of returning to default
Via http://stackoverflow.com/questions/9991523/hide-div-after-css3-animation
*/

.gt_overlay {
	-webkit-animation: gt_fadeIn 0.25s;
	-webkit-animation-fill-mode: forwards;
}

.gt_overlay.hide {
	-webkit-animation: gt_fadeOut 0.25s;
	-webkit-animation-fill-mode: forwards;
}

.gt_loading {
	-webkit-animation: gt_rotate 2s linear infinite;
	padding-right: 20px;
}

.gt_loading:after {
	display: block;
	content: '࿂';

	text-align: center;
	color: rgba(100, 100, 100, 0.75);
	font-size: 200px;
	font-family: Helvetica;
	line-height: 100px;

	text-shadow: 0 0 5px solid rgba(0,0,0,0.5);
}

.gt_loading,
.gt_paused {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100px;
	width: 100px;
	margin-top: -50px;
	margin-left: -50px;
}

.gt_paused:before,
.gt_paused:after {
	content: '';
	display: block;
	position: absolute;

	width: 30px;
	height: 100px;

	background: rgba(100, 100, 100, 0.75);

	box-shadow: 0 0 5px solid rgba(0,0,0,0.5);
}

.gt_paused:before {
	right: 0;
}

.gt_paused:after {
	left: 0;
}

.gt_top {
	position: absolute;
	bottom: auto;
	top: 0;
}

.gt_right {
	position: absolute;
	left: auto;
	right: 0;
}

.gt_bottom {
	position: absolute;
	top: auto;
	bottom: 0;
}

.gt_left {
	position: absolute;
	right: auto;
	left: 0;
}

/* Keyframes per https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes */
@-webkit-keyframes gt_fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes gt_fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes gt_rotate {
	0% {
		-webkit-transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
